.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--footer-bg-color);
  color: var(--text-title-color);
  &__title {
    @include font($fz: 44px, $fw: 900, $ls: 0.06em, $lh: 1.36);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;
    text-transform: uppercase;
    color: var(--text-title-color);
  }
}

.hero-img {
  position: relative;
  display: block;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
}
