// .hero {
// display: block;
// width: 100%;
// padding-top: 200px;
// padding-bottom: 200px;
// text-align: center;
// background-color: var(--footer-bg-color);
// color: var(--text-title-color);
// &__title {
// @include font($fz: 44px, $fw: 900, $ls: 0.06em, $lh: 1.36);
// margin: 0 auto;
// margin-bottom: 30px;
// width: 696px;
// text-transform: uppercase;
// color: var(--text-title-color);
// }
// }
//
// .hero_conteiner {
// display: flex;
// width: 100%;
// padding: 0;
// margin-bottom: auto;
// margin-left: auto;
// background: linear-gradient(
// to right,
// rgba(47, 48, 58, 0.4),
// rgba(47, 48, 58, 0.4)
// ),
// url("../images/hero.jpg");
// }
//
// .hero-img {
// position: relative;
// display: block;
// max-width: 1600px;
// min-height: 600px;
// margin-right: auto;
// margin-left: auto;
// background: linear-gradient(
// to right,
// rgba(47, 48, 58, 0.4),
// rgba(47, 48, 58, 0.4)
// ),
// url("../images/hero.jpg");
// }

.hero {
  position: relative;
  display: block;
  // max-width: 1600px;
  // height: 600px;
  margin: 0 auto;
  // margin-top: 80px;
  // padding-top: 200px;
  // padding-bottom: 200px;
  padding-top: 133px;
  padding-bottom: 133px;
  text-align: center;

  background-color: var(--footer-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__container {
  display: block;
  // width: 696px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.hero__title {
  @include font($fz: 26px, $fw: 900, $ls: 0.06em, $lh: 1.65);
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 40px;

  // padding: 118px 60px 198px 60px;
  text-align: center;
  color: var(--text-title-color);

  @include desk {
    @include font($fz: 44px, $fw: 900, $ls: 0.06em, $lh: 1.36);

    margin-bottom: 30px;
    // width: 696px;
  }
}
