.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-right: -30px;
  // margin-left: -30px;

  &__item {
    display: block;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid var(--box-project-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tab {
      width: calc(100% / 2 - 30px);
      margin-right: 30px;
    }

    @include desk {
      width: 370px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__after-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
  }
  &__text {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 63px 24px;
    @include font($fz: 18px, $fw: normal, $ls: 0.03em, $lh: 1.56);
    color: var(--text-title-color);
    background-color: var(--background-social-color);
    height: 294px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }
}

// .project-list__item:hover {
// box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
// 1px 4px 6px rgba(0, 0, 0, 0.16);
// }

// .project-list__item:nth-child(3n) {
//   margin-right: 0;
// }

// .project-list__item:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }

.project-list__solution {
  position: relative;
  overflow: hidden;
}

.project-list__solution:hover .project-list__text {
  transform: translateY(0);
}

.project-list__caption {
  @include font($fz: 18px, $fw: bold, $ls: 0.06em, $lh: 2);
  margin-bottom: 9px;
  color: var(--primary-text-color);
}

.project-list__lead {
  @include font($fz: 16px, $fw: normal, $ls: 0.03em, $lh: 1.9);
  color: var(--secondory-text-color);
}
