.social__list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  .social__item + .social__item {
    margin-left: 10px;
  }
  .social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--first-social-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__icon {
    width: 20px;
    height: 20px;
  }
  .social__link:hover,
  .social__link:focus {
    background-color: var(--background-social-color);
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--secondary-social-color);
}
