.hero__button.button {
  @include font($fz: 16px, $fw: bold, $ls: 0.06em, $lh: 1.9);
  display: inline-block;
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
  font-family: Roboto;
  align-items: center;
  text-align: center;
  color: var(--text-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--accent-shadow);
}

.modal__button {
  @include font($fz: 16px, $fw: bold, $ls: 0.06em, $lh: 1.85);
  padding: 10px 55px 10px 56px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  color: var(--text-title-color);
  background-color: var(--accent-color);
  margin-left: 130px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.buttons {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-bottom: 40px;
  &__title-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: -15px;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  &__item {
    margin-top: 15px;

  }
    @include tab {
      justify-content: center;
    }

    @include desk {
      padding-top: 94px;
      padding-bottom: 94px;
      margin-bottom: 50px;
    }
  }
  &__primery {
    // margin-top: 15px;
    @include font($fz: 16px, $fw: 500, $ls: 0.03em, $lh: 1.6);
    padding: 6px 22px;
    font-style: normal;
    text-align: center;
    border-radius: 4px;
    border: transparent;
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.buttons__item {
  margin-top: 15px;
}

.buttons__items > .buttons__item:not(:last-child) {
  margin-right: 8px;
}

.buttons__primery:hover,
.buttons__primery:focus {
  color: var(--text-title-color);
  background-color: var(--accent-color);
}

.buttons__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
