.nav__logo {
  @include font($fz: 24px, $fw: bold, $ls: 0.03em, $lh: 1.17);
  font-family: Raleway;
  margin: auto;
  color: var(--accent-color);

  @include tab {
    @include font($fz: 26px, $fw: bold, $ls: 0.03em, $lh: 1.19);
  }
}

.nav__logos {
  color: var(--primary-text-color);
}

.footer__logo {
  @include font($fz: 24px, $fw: bold, $ls: 0.03em, $lh: 1.17);
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  color: var(--accent-color);
  @include tab {
    @include font($fz: 26px, $fw: bold, $ls: 0.03em, $lh: 1.19);
  }
}

.footer__logos {
  color: var(--secondary-social-color);
}
