:root {
  --primary-text-color: #212121;
  --secondory-text-color: #757575;
  --text-title-color: #ffffff;
  --accent-color: #2196f3;
  --accent-shadow-color: rgba(0, 0, 0, 0.15);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --top-line-bg-color: #ececec;
  --footer-bg-color: #2f303a;
  --box-project-color: #eeeeee;
  --box-klients-color: #afb1b8;
  --first-social-color: #afb1b8;
  --secondary-social-color: #ffffff;
  --background-social-color: #2196f3;
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --feature-bg-color: rgba(47, 48, 58, 0.8);
  --overlay-modal-color: rgba(0, 0, 0, 0.2);
  --project-bg-color: rgba(33, 150, 243, 0.9);
  --close-icon-color: #000000;
}
